.container {
  display: flex;
  width: 100%;
  margin: 10px;
}

ul {
  list-style: none;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  margin: 0;
  width: 500px;
  overflow-y: scroll;
}

li {
  list-style: none;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px;
}

.data-box {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  width: 40%;
  margin: 0 auto;
  padding: 15px;
  max-height: 700px;
  border-radius: 25px;
  background-color: #5587f5;
}

.history-box {
  overflow-y: scroll;
  border-radius: 25px;
  background-color: #f2c84d;
}

.folder-list {
  display: flex;
  justify-content: center;
  width: 80%;
}

.folder {
  width: 70%;
  height: 30px;
  padding: 5px;
  border: 1px solid black;
}

.drag-target {
  background-color: rgb(184, 184, 250);
  cursor: grabbing;
}

.clicked {
  background-color: aqua;
}

.droppable {
  opacity: 0.4;
}
